.update-modal {
    --primary-color: rgb(224, 30, 90);

    .update-modal__mask {
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.45);
    }

    .update-modal__warp {
        position: fixed;
        z-index: 19;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .update-modal__content {
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 0 10px -4px rgb(130, 86, 208);

        .content__header {
            display: flex;
            line-height: 38px;
            background-color: var(--primary-color);

            .content__header-text {
                flex-grow: 1;
                width: 0;
                font-weight: bold;
            }
        }

        .update-modal--close {
            width: 30px;
            height: 30px;
            line-height: 34px;
            margin: 4px;
            cursor: pointer;
            text-align: center;

            svg {
                width: 17px;
                height: 17px;
            }
        }

        .content__body {
            padding: 10px;
            color: #333;
            background-color: #fff;
        }

        .content__footer {
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            background-color: #fff;

            button {
                padding: 7px 11px;
                margin-left: 10px;
                background-color: var(--primary-color);
                font-size: 14px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .icon {
        width: 20px;
        padding: 0 15px;
        fill: currentColor;

        &:hover {
            color: rgba(0, 0, 0, 0.4);
        }
    }
}
